* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html, body, #root {
    background-color: #EFEFEF;
    height: 100%;
}

.container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.products-container {
    padding: 2em;
    margin-top: 2em;
    min-height: 100%;
}

.title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.btn {
    background: #222;
    color: #FFF;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

.btn:hover {
    color: #FFC107;
    cursor: pointer;
}

.social-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social-list li {
    margin: 0 1em;
    transition: 0.5s ease-in-out;
}

.social-list li:hover {
    color: #FFC107;
    cursor: pointer;
}

.social-list li ion-icon {
    font-size: 1.5em;
}   
.copy-right {
    margin-top: 2em;
}

.copy-right span {
    font-weight: bold;
    color: #FFBB33;
}

.product-card {
    padding: 1em;
    border: 1px solid #7A7A7A;
    border-radius: 5px;
    width: 24%;
    margin: 0.5%;
}

.product-card h4 {
    background-color: #222;
    color: #FFBB33;
    padding: 0.4em;
    margin-bottom: 1.3em;
}

.product-card p {
    color: #7A7A7A;
    margin-bottom: 1em;
}

.product-card p span {
    font-weight: bold;
}

.type-text {
    display: flex;
    align-items: center;
}

.type-text span {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #CCC;
    margin-right: 5px;
}

.type-text .dvd {
    background-color: #FFAEBC;
}

.type-text .book {
    background-color: #A0E7E5;
}

.type-text .furniture {
    background-color: #B4F8C8;
}

input.delete-checkbox {
    position: relative;
    margin-top: 0.2em;
    margin-bottom: 1em;
    cursor: pointer;
}

input.delete-checkbox:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 2px;
    border: 2px solid #CCC;
    background-color: #FFF;
    margin-right: 5px;
}

input.delete-checkbox:checked:before {
    content: "\2713";
    background-color: #FFBB33;
    border-color: #FFBB33;
    font-size: 12px;
    text-align: center;
    line-height: 12px;
    font-weight: bold;
}

.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-left: 2em;
}

.not-found h2 {
    color: #222;
    font-size: 2em;
    padding: 1em;
    padding-top: 8em;
}